@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-stanley-white-100: #f6f6f6;
  --color-stanley-black-100: #404040;
  --color-stanley-gray-100: #a6a6a6;
  --color-stanley-gray-200: #7c7c7c;
  --color-stanley-gray-300: #e8e8e8;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.grow {
  animation: grow 1s ease-out forwards;
}
